<% content_for :title, "New question" %>

<%= turbo_frame_tag 'lesson-question-new' do %>
  <h1>New question</h1>

  <%= render "form", question: @question, lesson: @lesson %>
<% end %>

<br>

<div>
  <%= link_to "Back to questions", lesson_questions_path(@lesson) %>
</div>
